.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #55A3AB;
    height: 150px;
    width: auto;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
}

.header-title {
    font-weight: 900;
    font-size: 60px;
    color: #DF807E;
    margin: 30px 0px;
}

li {
    padding: 0px 40px;
}